.firestore-image {
  position: absolute;
  right: 0;
  top: 0;
  width: calc(75vh + 10vw);
}

.firestore-container {
  position: relative;
  display: flex;
  height: 100%;
}

.firestore-content {
  width: 100%;
}

.table {
  height: 0;
}

@media screen and (min-width: 1400px) {
  .firestore-container {
    top: 0;
  }
  .firestore-box{
    width: 50vw ;
  }
}
