.firestore-image {
  position: absolute;
  right: 0;
  top: 0;
  width: calc(75vh + 10vw);
}

.firestore-container {
  position: absolute;
  display: flex;
  height: 100%;
  width: 100%;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
}

.firestore-box {
  width: 50%;
}

.firestore-content {
  width: 100%;
}

.table {
  height: 0;
}

.modalbox {
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (min-width: 1400px) {
  .firestore-container {
    top: 0;
  }

  .firestore-box {
    width: 50vw;
  }
}

@media screen and (max-width: 1000px) {
  .firestore-box {
    width: 90% !important;
  }
  .firestore-container {
    width: 100%;
    display: flex;
    flex-direction: column;
  }
  .anime-firestore-icon{
    display: none;
  }
}

@media screen and (max-width: 450px) {
  .all-desc {
    font-size: 18px !important;
  }
}