.hosting{
  position: relative;
  top: 10vh;
}

.hosting-image {
  position: absolute;
  left: 0;
  top: 0;
  width: calc(75vh + 10vw);
}

.hosting-content {
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 100vh;
}

.hosting-title {
  z-index: 5;
}

.main-icon {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hosting-icon {
  animation: rotar 1s infinite linear;
}

.hosting-third-icon {
  position: absolute;
}

.pulse {
  animation: pulse 1s infinite ease-out;
}

.hosting-function,
.hosting-last-page {
  justify-content: center;
  align-items: center;
  height: 100vh;
  transition: 700ms;
}

.hosting-function div:first-child {
  justify-content: center;
  align-items: center;
  display: flex;
}

.hosting-last {
  height: 27%;
  width: 40%;
  margin: 15px;
  transition: 700ms;
}

.hosting-last h2 {
  left: -4%;
  top: -5%;
  position: relative;
}

.arrows {
  display: flex;
  height: 100vh;
  flex-direction: column;
  justify-content: space-between;
}

.arrow-up {
  position: relative;
  animation: moverup 1s ease-out alternate infinite;
}

.arrow-down {
  position: relative;
  animation: moverdown 1s ease-out alternate infinite;
}

@keyframes pulse {
  from {
    width: 30em;
    opacity: 0.5;
  }
  to {
    width: 33em;
    opacity: 0;
  }
}

@keyframes moverup {
  0% {
    top: 10px;
  }
  100% {
    top: 15px;
  }
}

@keyframes moverdown {
  0% {
    bottom: 10px;
  }
  100% {
    bottom: 15px;
  }
}

@keyframes rotar {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* GLOBO */

@keyframes mapfront_spin {
  0% {
    background-position: 1400px 0%;
  }

  100% {
    background-position: 0 0%;
  }
}

@keyframes mapback_spin {
  0% {
    background-position: 0 0%;
  }

  100% {
    background-position: 1400px 0%;
  }
}

@-webkit-keyframes mapfront_spin {
  0% {
    background-position: 1400px 0%;
  }

  100% {
    background-position: 0 0%;
  }
}

@-webkit-keyframes mapback_spin {
  0% {
    background-position: 0 0%;
  }

  100% {
    background-position: 1400px 0%;
  }
}

.mapfront,
.mapback {
  width: 100%;
  height: 115vh;
  position: absolute;
  top: -5vh;
  left: 0;
}
.mapfront {
  background: url(http://1.bp.blogspot.com/-M5AZ_16w8b4/UesDQ6r3miI/AAAAAAAAKr8/Sj0Tu25SgWA/s1600/3.png);
  background-size: cover;
  -webkit-animation: mapfront_spin 60s linear infinite;
  animation: mapfront_spin 60s linear infinite;
}
.mapback {
  background: url(http://2.bp.blogspot.com/-PEUhx5zxLcg/UesDeRIwkmI/AAAAAAAAKsE/XvusGF7_Omc/s1600/4.png);
  background-size: cover;
  position: absolute;
  -webkit-animation: mapback_spin 60s linear infinite;
  animation: mapback_spin 60s linear infinite;
}
