.machine-content {
  display: flex;
  align-items: center;
}

.link {
  display: flex;
  justify-content: end;
  margin: 0;
}

.link a {
  text-decoration: none;
}

.card {
  height: 300px;
}

.card-body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
