.App {
  text-align: center;
}

.home-page {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.fila {
  display: flex;
  justify-content: center;
}

.columna {
  display: flex;
  margin: 30px 100px;
  height: 150px;
  width: 50px;
  align-items: center;
  justify-content: center;
}

.columna .element {
  position: absolute;
}

.columna .texto{
  font-size: 50px;
  font-weight: 700;
}

.image{
  width: 10em;
}