@import url("https://fonts.googleapis.com/css2?family=Archivo:wght@200&display=swap");

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  user-select: none;
}

::-webkit-scrollbar {
  background-color: #5a5a5a;
  border-radius: 100px;
  width: 10px;
}

::-webkit-scrollbar-thumb {
  border-radius: 100px;
  background-color: #d1d1d1;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
